#reservas {
    background-image: url('/src/img/fondo\ formulario.jpg');
    background-size: cover; /* Para que la imagen cubra todo el fondo */
    background-position: center; /* Para centrar la imagen en la sección */
    background-repeat: no-repeat; /* Para que la imagen no se repita */
    /* Otras propiedades de estilo según tus preferencias */
}
footer {
    margin-top: auto;
    position: relative;
}
#inicio {
    background-image: conic-gradient(rgb(30, 41, 59), rgb(157, 23, 77), rgb(24, 24, 27));
    color: white; /* Cambia el color del texto si es necesario para que sea legible sobre el gradiente */
}

.bg-gradient-conic {
    background-image: conic-gradient(var(--tw-gradient-stops));
    color: transparent; /* Hacemos el texto transparente */
}
.text-gradient {
    /* Creamos un efecto de gradiente para el texto utilizando colores */
    text-shadow: 0 0 5px rgb(30, 41, 59), 0 0 10px rgb(157, 23, 77), 0 0 15px rgb(24, 24, 27);
}
#menu {
    /* Establece el fondo negro */
    background-color: black;
}
.gradient-bg {
    /* Aplica el gradiente lineal como fondo */
    background-image: linear-gradient(rgb(17, 24, 39), rgb(75, 85, 99));
}

.gradient-text {
    /* Establece el color del texto como transparente */
    color: transparent;
    /* Aplica el gradiente conic al fondo del texto utilizando background-clip: text */
    background-image: conic-gradient(rgb(30, 41, 59), rgb(157, 23, 77), rgb(24, 24, 27));
    /* Hace que el gradiente del fondo solo aparezca donde está el texto */
    -webkit-background-clip: text;
    background-clip: text;
}

.gradient-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: conic-gradient(rgb(30, 41, 59), rgb(157, 23, 77), rgb(24, 24, 27));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/*bg-[conic-gradient(at_left,_var(--tw-gradient-stops))] from-slate-900 via-purple-200 to-cyan-200 */
/*
.gradient-text-nav::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: conic-gradient(at left center, rgb(15, 23, 42), rgb(233, 213, 255), rgb(165, 243, 252));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
*/
.gradient-text-nav {
    /* Establece el color del texto como transparente */
    color: transparent;
    /* Aplica el gradiente conic al fondo del texto utilizando background-clip: text */
    background-image: conic-gradient(rgb(30, 41, 59), rgb(157, 23, 77), rgb(24, 24, 27));
    /* Hace que el gradiente del fondo solo aparezca donde está el texto */
    -webkit-background-clip: text;
    background-clip: text;
}
.gradient-text-nav::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: conic-gradient(rgb(30, 41, 59), rgb(157, 23, 77), rgb(24, 24, 27));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#seccionReservas,
#seccionInicio,
#seccionMenu {
    display: none;
}

